


<!--<pre data-bind="text: ko.toJSON($data.districts)"></pre>-->

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>District ID</th>
            <th>Name</th>
            <th>Population</th>
            <th>Buildings</th>
            <th>Vehicles</th>
            <th>Households / Max</th>
            <th>Jobs / Max</th>
            <th>Weekly Tourists</th>
            <th>Land Value</th>
            <th>Pollution</th>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: $data.districts -->
        <tr>
            <!--<td colspan="10" data-bind="text: ko.toJSON($data)"></td>-->
            <td data-bind="text: DistrictID"></td>
            <td data-bind="text: DistrictName"></td>
            <td data-bind="text: TotalPopulationCount"></td>
            <td data-bind="text: TotalBuildingCount"></td>
            <td data-bind="text: TotalVehicleCount"></td>
            <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" data-bind="style: { width: ($data.CurrentHouseholds()/$data.AvailableHouseholds()*100) + '%' }">
                        <span data-bind="text: $data.CurrentHouseholds() + '/' + $data.AvailableHouseholds()"></span>
                    </div>
                </div>
            </td>
            <td><span data-bind="text: CurrentJobs"></span> / <span data-bind="text: AvailableJobs"></span></td>
            <td data-bind="text: WeeklyTouristVisits"></td>
            <td data-bind="text: '₡' + AverageLandValue()"></td>
            <td data-bind="text: (Pollution() * 100).toFixed(0) + '%'"></td>
        </tr>
        <!-- /ko -->
    </tbody>
    <!--<tfoot>
        <tr>
            <td></td>
            <td>Total</td>
            <td><span data-bind="text: $data.global.TotalPopulationCount"></span></td>
            <td><span data-bind="text: global.TotalBuildingCount"></span></td>
            <td><span data-bind="text: global.TotalVehicleCount"></span></td>
            <td><span data-bind="text: global.CurrentHouseholds"></span> (<span data-bind="text: global.AvailableHouseholds"></span>)</td>
            <td><span data-bind="text: global.CurrentJobs"></span> (<span data-bind="text: global.AvailableJobs"></span>)</td>
            <td><span data-bind="text: global.WeeklyTouristVisits"></span></td>
            <td><span data-bind="text: '₡' + $root.global.AverageLandValue()"></span></td>
            <td><span data-bind="text: (global.Pollution() * 100).toFixed(0) + '%'"></span></td>
        </tr>
    </tfoot>-->
</table>